
/* general */
* {
    padding: 0;
    margin: 0;
}
html {
    min-height: 100%;
}

body {
    background-color: #B2D3C2;
    text-align: center;
    color: #234F1E;
}

/* header */
.heading {
    padding: 3rem;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    padding: 2rem 2rem;
    font-weight: bolder;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #234F1E;
}
li a:visited {
    color: #234F1E;
}

/* game play */
.game-area {
    width: 50%;
    border: #466D1D 0.4rem groove;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #e8f4ea;
}

.score {
    display: flex;
    justify-content: end;
}

.bulls, .cows {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 3.7rem 0.5rem;
}